#StudioArt {
    background-color: #C1D4F1;}

#Economics {
    background-color:  #C1D4F1;}

#ComputerScience {
    background-color: #C1D4F1;}

#Politics {
    background-color: #C1D4F1;}
#Mathematics {
    background-color: #C1D4F1;}

#landing {
    background-color: #C1D4F1; }


h1 {
    font-family: cursive; 
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-decoration: underline;}
p {
    font-size: 150%;
    font-family: monospace;}

table {
    border-collapse: collapse;}

table {
    background-color: #D9DDDE;}
    
th, td {
    border-style: solid;
     }
    th, {
    font-family: cursive; }

    td {
    font-family: monospace;
    font-size: 125%; }

.navigation

a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: cyan;
}
a:active {
    color: blue
}

